.item-details-button {
  &:focus {
    outline: none;
  }
}
.price-strike {
  text-decoration-line: line-through;
  color: grey;
}
.jumb {
  height: 15rem;
  border: 0.5px solid #ccd1d1;
  background-color: "#EFF2F2";
}
.jumb-img {
  margin-right: 1rem;
}
