.promo-code-button {
  outline: none;
}
.div {
  width: 100%;
  height: 10rem;
  background-color: #eff2f2;
  border: 1.5px solid #e6e8e8;
  border-radius: 5px;
  .form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .btn-f {
    margin-top: 0.7rem;
  }
}
